body{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}
h1{
    font-family: 'Big Shoulders Display', cursive;
}
footer{
    margin-top: 5%;
    text-align: center;
}

.flex-container{
    display: flex;
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

.lower{
    margin-top: 50px;
    margin-bottom: 50px;
}
.btn-lux{
    color: hsl(179, 100%, 13%);
}
.btn-sed{
    color: hsl(31, 77%, 52%);
}
.btn-suv{
    color: hsl(184, 100%, 22%);
}
.btn-sed, .btn-suv, .btn-lux, .btn {
    width: 150px;
    font-size: large;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 20px;
    border: solid;
    border-color: #ffffff;
    border-width: 1px;
    padding:5px;
    text-decoration: none;
}

.btn{
    color: #000000;
    border-color: #000000;
    text-align: center;

}


.btn-sed:hover, .btn-suv:hover, .btn-lux:hover{
    background-color: #ffffff00;
    color: #ffffff;
    text-decoration: none;

}

.sedan{
    padding: 20px;
    background-color: hsl(31, 77%, 52%);
    color: #ffffff;

}

.suvs{
    padding: 20px;
    background-color:hsl(184, 100%, 22%);
    color: #ffffff;
}

.lux{
    padding: 20px;
    background-color: hsl(179, 100%, 13%);
    color: #ffffff;
}

.menu{
    margin-bottom: 3%;
}